*,
::after,
::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

@font-face {
    font-family: myFirstFont;
src: url(fonts/PassionsConflict-Regular.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 100vh;
}

.shop2body{
    background-color: #989898;
}

/*-------------------------Page header and navigation---------------------*/

.nav-container {
    background: #313921;
    position: sticky;
    top: 0;
}

.nav-container-shop2{
    background: #282828;
    position: sticky;
}

.mobileiconlabel1 {
    display: inline-block;
    color: white;
    background: #313921;
    font-style: normal;
    font-size: 1.2rem;
    padding: 10px;
}

.mobileiconlabel1-shop2 {
    display: inline-block;
    color: white;
    background: #282828;
    font-style: normal;
    font-size: 1.2rem;
    padding: 10px;
}

.menuitem {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    
}

.menuitem:hover {
    background: #e7d6b0;
}

.menuitems-container,
.mobileicon {
    display: none;
}


.nav-container input:checked ~ .menuitems-container {
    display: block;
}

.nav-container-shop2 input:checked ~ .menuitems-container {
    display: block;
}

.nav-container input:checked ~ .accounticon{
    display: none;
}

.nav-container-shop2 input:checked ~ .accounticon{
    display: none;
}

.nav-container input:checked ~ .companylogo{
    display: none;
}

.nav-container-shop2 input:checked ~ .companylogo{
    display: none;
}

.companylogo {
    position: absolute;
    margin-top: -16px;
    right: 34%;
    width: 140px;
}

.accounticon{
    position: absolute;
    right: 15px;
    top: 15px;
}

@media screen and (min-width: 560px) {

    /*---------------------------------Hide Mobile icon----------------------*/
    .mobileiconlabel1,
    .mobileicon {
        display: none;
    }

    .mobileiconlabel1-shop2,
    .mobileicon {
        display: none;
    }
    
    /*-------------------------Menu items displayed in a row in the header-----------*/
    .menuitems-container {
        display: flex;
        justify-content: center;
      }

    .menuitem {
        width: 130px;
    }

    .menuitem:hover {
        background: #e7d6b0;
    }
    
    /*---------------------------Display company logo on the left */
    .companylogo {
        margin-top: -60px;
        left: 10px;
    }

    .accounticon{
        top: 10px;
    }

}

/*----------------------------Body--------------------------*/

/*--------------------------Section 1-----------------------*/
.image1{
    width: 100%;
}


.container {
    position: relative;
    text-align: center;
    background-color: #f8f7f5;
}

.container-shop2 {
    position: relative;
    text-align: center;
    background-color: #181818;
}

.title1{
    position: absolute;
    top: 40%;
    left: 60%;
    color: #313921;
}

.title1-shop{
    position: absolute;
    color: white;
    top: 75%;
    font-family: myFirstFont;
    font-size: 350%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    
}

.text1{
    position: absolute;
    top: 50%;
    left: 45%;
    text-align: justify;
    text-justify: inter-character;
    color: #313921;
    font-size: 2.5vw;
    width: 50%;
}

.btn {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #313921;
    color: white;
    font-size: 10px;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
}


@media only screen and (min-width:560px){
    .text1{
        font-size: 1.5vw;
        width: 50%;
        position: absolute;
        top: 60%;
        left: 45%;
    }
    .title1{
        position: absolute;
        top: 45%;
        left: 60%;
    }
    .image1{
        width: 70%;
    }
    .btn{
        font-size: 1vw;
        left: 90%;

    }

    .title1-shop{
        position: absolute;
        color: white;
        top: 85%;
        font-family: myFirstFont;
        font-size: 5vw;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}


.title2{
    display: block;
    font-family: myFirstFont;
    text-align: center;
    font-size: 11vw;
    color: #313921;
    background-color: #ede6d7;
    margin-top: -5px;
    padding-top: 10px;
}
.container2{
    display: flex;
    flex-wrap: nowrap;
    background: #ede6d7;
    height: 30%;
    margin-top: -30px;
    justify-content: space-between;
    align-items: center;
}

.title21{
    display: block;
    color: #313921;
    background-color: #ede6d7;
    font-size: 3.5vw;
    text-align: center;
    margin-top: -50px;
}

.text21{
    display: block;
    color: #313921;
    background-color: #ede6d7;
    font-size: 3vw;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 30px;
}

.product{
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
}
.arrow{
    height: 15%;
}

@media only screen and (min-width:560px){

.title2{
    font-size: 8vw;
}

.container2{
    height: 70%;
}

.title21{
    font-size: 2vw;
}

.text21{
    font-size: 1.5vw;
}

}
.container3{
    display: flex;
    flex-direction: column;
    background: #a4625e;
    height: 43%;
    margin-top: -5px; 
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}

.title3{
    display: block;
    font-family: myFirstFont;
    text-align: center;
    font-size: 11vw;
    color: #6d0a0a;
    margin-top: -5px;
}

.title3-articles{
    display: block;
    font-family: myFirstFont;
    text-align: center;
    font-size: 10vw;
    color: #6d0a0a;
    margin-top: -5px;
}

#title32{
    color: #63573d;
}

#title321{
    color: #63573d;
}

#title33{
    color: #252b18;
}

.text3{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3vw;
    color: #400b0b;    
}

.text3-articles{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3vw;
    color: #400b0b; 
}

#text32{
    color: #3b2c0c;
}


#text33{
    color: #252b18;
}

#text331{
    color: #252b18;
}


.btn3 {
    background-color: #6d0a0a;
    color: white;
    font-size: 12px;
    padding: 7px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 1000px;
    text-align: center;
}

#btn32{
    background-color: #63573d;
}

#btn321{
    background-color: #63573d;
}


#btn33{
    background-color: #313921;
}

#btn331{
    background-color: #313921;
}

.footer{
    background-color: #313921;
    height: 10%;
}

#footer-shop2{
    background-color: #282828;
}

.container4{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 0px 20px;
    background-color: #313921;
    padding-top: 5%;
}

#container4-shop2{
    background-color: #282828;
}

.container4-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 5px;
}

.container4-2{
    display: flex ;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container4-3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-right: 5px;
}

.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3vw;
    flex-grow: 1;
    text-decoration: none;
}

.footer-text0{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3vw;
    text-decoration: none;
    background-color: #313921;
}
.container23{
    display: none;
}

.followus{
    background-color: #313921;
}

#followus-shop2{
    background-color: #282828;
}

.followuson{
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 4.5vw;
    background-color: #313921;
}

#followuson-shop2{
    background-color: #282828;
}

.smlogos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313921;
    gap: 14%;
}

#smlogos-shop2{
    background-color: #282828;
}

.ytlogo{
    width: 10%;
}

.iglogo{
    width:7%;
}

.fblogo{
    width: 8%;
}

@media only screen and (min-width:560px){
    .nav__toggle{
    display: none;
    }

    .followuson{
        padding-top: 5%;
        margin-top: -1%;
        font-size: 1vw;
    }

    .footer-text, .footer-text0{
        font-size: 1vw;
    }

    .smlogos{
        gap: 7%;
    }

    .ytlogo{
        width: 4%;
    }

    .iglogo{
        width: 3%;
    }

    .fblogo
    {
        width: 3%;
    }

    .container4{
        padding-top: 2%;
    }

    .container4-1{
        padding-left: 40px;
    }

    .container4-3{
        padding-right: 40px;
    }
}

/*-------------------------Section 3 index page---------------------*/

.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5%;
}

.card, .card0{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    background-color: #a4625e;
}

/*---------------------------------------Section 2 Shop1 page------------------*/

.flexbox-shop1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top: 5.5%;
}

.flexbox-shop2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-right: 5%;
}

.flexbox-articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-right: 5%;
}

.tea-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-left: 3%;
    margin-bottom: 7%;
}

.box{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ede6d7;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
}



.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 10px 25px;
    
}

.box-articles{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ede6d7;
    margin-left: 7%;
    margin-right: 1%;
    margin-bottom: 7%;
}

#english{
    background-color: #d6dcd2;
}

#earlgrey{
    background-color: #d6d7d7;
}

#ceylon{
    background-color: #faf1da
}

#dutch{
    background-color: #d2dde7;
}

.name{
    display: block;
    font-family: myFirstFont;
    text-align: center;
    font-size: 11vw;
    color: #313921;
    margin-top: -5px;
}

.name2{
    display: block;
    font-family: myFirstFont;
    text-align: center;
    font-size: 11vw;
    color: #282828;
    margin-top: -5px;
}

.description{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3vw;
    color: #313921;
}

.description2{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3vw;
    color: #282828;
    width: 140%;
}

#article1{
    background-color: #a4625e;
}

#article2{
    background-color: #d9cbaa;
}

#article3{
    background-color: #6e7463;

}
#article4{
    background-color: #a4625e;

}

#article5{
    background-color: #6e7463;

}

#article6{
    background-color: #d9cbaa;

}



#title331{
    color: #252b18;
}

.card0{
    display: none;
}

.articleimage{
    width: 85%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.box-image{
    width: 85%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;

}

.box-image-shop2{
    width: 110%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
}

.box-image-articles{
    width: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
} 

.selection{
    background-color: #313921;
    color: white;
    font-size: 10px;
    margin-top: 10px;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
}

.selection2{
    background-color: #252b18;
    color: white;
    font-size: 10px;
    margin-top: 10px;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
}

    @media only screen and (min-width: 560px){


        .flexbox{
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 2%;
        }
        .text3{
            font-size: 16px;
            padding: 4%;
        }

        .text3-articles{
            font-size: 16px;
            padding: 4%;
        }

        #text32{
            color: #3b2c0c;
            padding-bottom: 7%;
        }

        #text321{
            color: #3b2c0c;
            padding-bottom: 7%;
        }

        #text33{
            color: #252b18;
            padding-bottom: 7.6%;
        }

        #text331{
            color: #252b18;
            padding-bottom: 7.6%;
        }

        .title3{
            font-size: 3.3vw;
            padding: 10px;
        }


        .title3-articles{
            font-size: 3.3vw;
            padding: 10px;
        }

        .card, .card0{
            display: flex;
            width: 30%;
            background-color: #a4625e;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        .articleimage{
            padding-top: 15px;
        }

        #lastimage{
            width: 95%;
        }

        .flexbox-shop1{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: auto;
        }

        .flexbox-shop2{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: auto;
            margin-right: 10%;
        }

        .box{
            width: 25%;
            margin-left: auto;
        }

        .box-articles{
            padding-top: 20px;
            width: 30%;
            margin-left: auto;
        }

        .name, .name2{
            font-size: 5vw;
        }

        .description, .description2{
            font-size: 1vw;
        }

        .selection{
            font-size: 15px;
            margin-top: 10px;
            padding: 6px 10px;
        }

        .tea-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 30%;
        }

        .box2{
            width: 70%;
            margin-left: auto;
            padding: 30px 50px 10px;
            padding-bottom: 20px;
        }


    }
        
    